name: SwiftWasm
on:
  push:
    branches: ["wasm32-wasi"]
  pull_request:
    branches: ["wasm32-wasi"]
env:
  SWIFT_VERSION: main-snapshot-2026-02-02
  WASMTIME_VERSION: 41.0.1
permissions: {}
defaults:
  run:
    shell: bash -euo pipefail {0}
jobs:
  build:
    strategy:
      matrix:
        target:
          - sdk:
              url: https://download.swift.org/development/wasm-sdk/swift-DEVELOPMENT-SNAPSHOT-2026-02-02-a/swift-DEVELOPMENT-SNAPSHOT-2026-02-02-a_wasm.artifactbundle.tar.gz
              checksum: 54e6b9541d18f4ef547ccc77b1a09305e5476ecc93faf2c0784702ddf72bc299
              id: swift-DEVELOPMENT-SNAPSHOT-2026-02-02-a_wasm
            artifact-name: swift-format.wasm
            other-wasmopt-flags:
    runs-on: ubuntu-24.04-arm
    env:
      STACK_SIZE: 524288
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - name: Install tools
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y wabt binaryen
      - run: ./Scripts/ci-install-swiftly.sh
      - run: swiftly install -y --use "$SWIFT_VERSION"
      - run: swift --version
      - env:
          SDK_URL: ${{ matrix.target.sdk.url }}
          SDK_CHECKSUM: ${{ matrix.target.sdk.checksum }}
        run: swift sdk install "$SDK_URL" --checksum "$SDK_CHECKSUM"
      - name: Build
        env:
          SDK_ID: ${{ matrix.target.sdk.id }}
          WASMOPT_FLAGS: ${{ matrix.target.other-wasmopt-flags }}
          ARTIFACT_NAME: ${{ matrix.target.artifact-name }}
        run: |
          swift build --product swift-format --swift-sdk "$SDK_ID" -c release -Xlinker -z -Xlinker stack-size="$STACK_SIZE"
          wasm-strip .build/release/swift-format.wasm
          wasm-opt -Oz --enable-bulk-memory --enable-sign-ext --enable-nontrapping-float-to-int $WASMOPT_FLAGS .build/release/swift-format.wasm -o "$ARTIFACT_NAME"
      - name: Upload ${{ matrix.target.artifact-name }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: ${{ matrix.target.artifact-name }}
          path: ${{ matrix.target.artifact-name }}
  test-binary:
    needs: build
    strategy:
      matrix:
        target:
          - artifact-name: swift-format.wasm
            other-wasmkit-flags:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - run: ./Scripts/ci-install-swiftly.sh
      - run: swiftly install -y --use "$SWIFT_VERSION"
      - name: Download ${{ matrix.target.artifact-name }}
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53  # v6.0.0
        with:
          name: ${{ matrix.target.artifact-name }}
      - env:
          WASMKIT_FLAGS: ${{ matrix.target.other-wasmkit-flags }}
          ARTIFACT_NAME: ${{ matrix.target.artifact-name }}
        run: wasmkit run --dir . $WASMKIT_FLAGS "$ARTIFACT_NAME" --version
      - env:
          WASMKIT_FLAGS: ${{ matrix.target.other-wasmkit-flags }}
          ARTIFACT_NAME: ${{ matrix.target.artifact-name }}
        run: wasmkit run --dir . $WASMKIT_FLAGS "$ARTIFACT_NAME" lint -r .
  test:
    strategy:
      matrix:
        target:
          - sdk:
              url: https://download.swift.org/development/wasm-sdk/swift-DEVELOPMENT-SNAPSHOT-2026-02-02-a/swift-DEVELOPMENT-SNAPSHOT-2026-02-02-a_wasm.artifactbundle.tar.gz
              checksum: 54e6b9541d18f4ef547ccc77b1a09305e5476ecc93faf2c0784702ddf72bc299
              id: swift-DEVELOPMENT-SNAPSHOT-2026-02-02-a_wasm
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - run: ./Scripts/ci-install-swiftly.sh
      - run: swiftly install -y --use "$SWIFT_VERSION"
      - uses: bytecodealliance/actions/wasmtime/setup@6aecabac1eb1dcf7ed94ba9471974415ee2ebef2  # v1.1.2
        with:
          version: ${{ env.WASMTIME_VERSION }}
      - run: swift --version
      - run: wasmtime -V
      - env:
          SDK_URL: ${{ matrix.target.sdk.url }}
          SDK_CHECKSUM: ${{ matrix.target.sdk.checksum }}
        run: swift sdk install "$SDK_URL" --checksum "$SDK_CHECKSUM"
      - env:
          SDK_ID: ${{ matrix.target.sdk.id }}
        run: swift test -c release --swift-sdk "$SDK_ID" --toolset wasi-test-toolset.json
  results:
    if: ${{ always() }}
    runs-on: ubuntu-24.04-arm
    needs: [build, test-binary, test]
    steps:
      - run: exit 1
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
